.menu {
	font-weight: bold;
	font-size: $fz-menu;
	font-family: 'Twinkle Star', cursive;
	
	a {
		color: $color-menu;
	}
	img {
		max-height: 700px;
		width: 100%;
		position: absolute;
	}
}

.menu__row {
	position: absolute;
	justify-content: center;
	
}

.menu__column {
	display: inline-block;
	padding: 15px;
}
