.menu {
	font-weight: bold;
	font-size: $fz-menu;
	font-family: 'Twinkle Star', cursive;
	text-align: center;
	position: relative;
	a {
		color: $color-menu;
	}
	img {
		max-width: 100%;
	}
}

.menu__row {
	display: flex;
	position: absolute;
}

.menu__column {
	display: inline-block;
	padding: 15px;
}
