// Imports of other scss files
@import '_reset';
@import '_fonts-connect';
@import '_const';
@import '_header';

// Wrapper of site
.wrapper {
	height: 100%;
	min-height: 100%;
}

body {
	background: $bg-gradient;
	overflow-x: hidden;
}